
#contact-area input, #contact-area textarea {
	border: 2px solid #ccc;
	width:100%;
	max-width: 500px;

}


#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;

}

#contact-area input.submit-button {
	margin-top: 25px;
	width: 250px;
	float: left;
}
