---
---
// External
@import 'external/reset';
@import 'external/syntax';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';

a:hover {
  /*border-radius: 50px;
  padding-left:15px;
  padding-right:15px;
  text-decoration: none;
  background-color: lightgray; /*#31B291;
  color: #FFFFFF;*/
  color:#31B291;
}

img {
  border-radius: 25px;
}

.background-gray {
  background-color: #F6F6EE;
}

.background-green {
  background-color: lightgreen;
}

.portfolio-background {
  background-color: white; // #105797;
  margin-top: 25px;
  margin-bottom: 25px;
  padding:25px;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 25px;
  border-style: outset;
  z-index: -1;
  //position:relative;

}

.title {
  margin-top:75px;
}

#quote-it {
  display:none;
}
